/*Table of Content

1.) app
2.) navbar
3.) posts
4.) messages
5.) login/sign up


1.) app*/
.container{
  display: flex;
}#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

/*navbar*/
header {
  width: 100vw;
  background-color: gray;
  justify-content: space-between;
  flex-direction: row;
}#navbar {
  justify-items: center;
  gap: 10px;
}#logo {
  padding-left: 10px;
}#nav-list {
  gap: 5px;
  padding-right: 20px;
}
